<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3> Clash Royale Database and Deck Builder </h3>
		<a class='btn btn-primary' href='/login'>Login</a>
		<a class='btn btn-secondary' href='/register'>Register</a>
		<a class='btn btn-info' href='/cards'>Search for Cards Available</a>
		<a class='btn btn-info' href='/reddit'>Go to Reddit</a>
	</div>
</div>

<img src="https://www.stickpng.com/assets/images/580b57fcd9996e24bc43c51a.png">

<%- include ('templates/footer'); -%>