<!DOCTYPE html>
<html>
  <head>
    <title>Clash Royale</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script> 
	<link rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='css/app.css'>
	
  </head>
  <body>
    <div class='jumbotron'>
        <h1>Scan the Code to go to Reddit!</h1>
        <img src="https://qrtag.net/api/qr.png?url=https://www.reddit.com/r/ClashRoyale/">
    </div>
    
    <!--<a id="back" class='btn btn-info' href='/'>Go Back</a>-->
    <a id='back' class='btn btn-danger' href='/'>Go Back</a>
    <script src="js/reddit.js"></script>
  </body>
</html>