<%- include ('templates/header'); -%>
    <div class='jumbotron'>
        <h1>Your Deck has been updated, <%=user%>!</h1>
        <a class='btn btn-info' href='/myDeck'>Go Back</a>
    </div>
    
<%- include ('templates/footer'); -%>